<div class="container mt-3">
    <h1>Portfolio</h1>
    <div class="projectsContainer">
        <div class="mt-3 d-flex justify-content-center row">
            @for (projectrow of project; track projectrow.projectID) {
                <div class="projects col-md-3">
                    <div class="projectIMG">
                        <img [src]="projectrow.projectIMG" class="projectPhoto">
                    </div>
                    <div class="projectInfo">
                        <h1 class="projectTitle">{{ projectrow.projectName }}</h1>
                        <a [href]="projectrow.projectLink"><h6 class="projectLink">Link</h6></a>
                        <p class="projectDesc">{{ projectrow.projectDesc }}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>