<div class="container mt-3">

    <h1 (dblclick)="double()">Tweets</h1>

    <button class="btn btn-primary" (click)="addNewTweet()" (mouseover)="buttonColour()">Add New Tweet</button>

    <div class="tweetsContainer">

        @for (tweetrow of tweets; track tweetrow.tweetID) {
            <div class="tweet">
                <p>{{ tweetrow.tweet }}</p>
                <p class="tweetUser"><img [src]="tweetrow.pfp" class="pfp"> &#64;{{ tweetrow.username }}</p>
            </div>
        }

    </div>

</div>
