<div class="banner"></div>
<div class="homepageInfo container">
    <h1>Welcome!</h1>
    <p class="homepageTXT">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Maecenas magna neque, aliquam et lacus vitae, tempus ornare lorem. 
        In quis ipsum pellentesque, molestie nisl ut, mollis arcu. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        In dapibus suscipit nulla non suscipit. In hendrerit ultrices ex ut varius. 
        Vestibulum a nibh sed libero porttitor semper in quis mi. 
        Praesent porttitor lobortis tellus, sagittis imperdiet lectus iaculis vel. 
        Fusce mi tellus, posuere quis dictum sit amet, mollis at lorem. Vestibulum in sollicitudin augue, at blandit erat. 
        Donec accumsan dolor libero, nec elementum leo pellentesque vel. Aliquam interdum sagittis ligula ut placerat. 
        Mauris faucibus vestibulum rutrum. Etiam id lobortis tortor. 
        Sed vitae eleifend neque, ut efficitur libero. 
    </p>
    <p class="homepageTXT">
        <img src="https://files.catbox.moe/kzlo1t.gif" alt="culu culu!" align="left" style="margin-right:10px;float:left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Maecenas magna neque, aliquam et lacus vitae, tempus ornare lorem. 
        In quis ipsum pellentesque, molestie nisl ut, mollis arcu. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        In dapibus suscipit nulla non suscipit. In hendrerit ultrices ex ut varius. 
        Vestibulum a nibh sed libero porttitor semper in quis mi. 
        Praesent porttitor lobortis tellus, sagittis imperdiet lectus iaculis vel. 
        Fusce mi tellus, posuere quis dictum sit amet, mollis at lorem. Vestibulum in sollicitudin augue, at blandit erat. 
        Donec accumsan dolor libero, nec elementum leo pellentesque vel. Aliquam interdum sagittis ligula ut placerat. 
        Mauris faucibus vestibulum rutrum. Etiam id lobortis tortor. 
        Sed vitae eleifend neque, ut efficitur libero. 
    </p>
    <p class="homepageTXT">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Maecenas magna neque, aliquam et lacus vitae, tempus ornare lorem. 
        In quis ipsum pellentesque, molestie nisl ut, mollis arcu. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        In dapibus suscipit nulla non suscipit. In hendrerit ultrices ex ut varius. 
        Vestibulum a nibh sed libero porttitor semper in quis mi. 
        Praesent porttitor lobortis tellus, sagittis imperdiet lectus iaculis vel. 
        Fusce mi tellus, posuere quis dictum sit amet, mollis at lorem. Vestibulum in sollicitudin augue, at blandit erat. 
        Donec accumsan dolor libero, nec elementum leo pellentesque vel. Aliquam interdum sagittis ligula ut placerat. 
        Mauris faucibus vestibulum rutrum. Etiam id lobortis tortor. 
        Sed vitae eleifend neque, ut efficitur libero. 
    </p>
</div>